
.navigation {
    width:70px;
    min-width:70px;
    background:#fff;
    border:1px solid red;
}

.nav-avatar{
    width:30px;
    height:30px;
    border:1px solid red;
    margin:40px auto 30px;
    border-radius:100%;
}
.ti-pencil:before{
    content: "\e61c";
}

.ti-user:before {
    content: "\e602";
}

.ti-star:before {
    content: "\e60a";
}

.ti-pencil:before {
    content: "\e61c";
}
.ti-settings:before {
    content: "\e60f";
}
