html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

*, *:before, *:after {
    box-sizing: border-box;
}

* {
    /*-webkit-user-select: all;*/
}
body {
    background:#ebebeb;
    position:static;
    overflow:hidden;
    font-family: 'Source Sans Pro', sans-serif;
}

ol, ul {
    list-style: none;
}

li {
    list-style: none;
    text-align: -webkit-match-parent;
}

a {
    text-decoration: none;
    background-color: transparent;
}

:root {
    --white: #fff;
    --black: #000;
    --bg: #f8f8f8;
    --grey: #999;
    --dark: #1a1a1a;
    --light: #e6e6e6;
    --wrapper: 1000px;
    --blue: #0088FF;
}

#root {
    height: 100vh;
    height: -webkit-calc(var(--vh,1vh) * 100);
    height: -moz-calc(var(--vh,1vh) * 100);
    height: calc(var(--vh,1vh) * 100);
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
}

@font-face {
    font-family:themify;src:url(/client/public/fonts/themify.woff?-fvbane);src:url(../icons/themify/fonts/themify.eot?#iefix-fvbane) format('embedded-opentype'),url(/client/public/fonts/themify.woff?-fvbane) format('woff'),url(/client/public/fonts/themify.woff?-fvbane) format('truetype'),url(../icons/themify/fonts/themify.svg?-fvbane#themify) format('svg');font-weight:400;font-style:normal
}[class*=" ti-"],[class^=ti-] {
     font-family: themify;
     speak: none;
     font-style: normal;
     font-weight: 400;
     font-variant: normal;
     text-transform: none;
     line-height: 1;
     -webkit-font-smoothing: antialiased;
     -moz-osx-font-smoothing: grayscale
 }
*, ::after, ::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

input {
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: initial;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    -webkit-appearance: textfield;
    background-color: white;
    -webkit-rtl-ordering: logical;
    cursor: text;
    margin: 0em;
    font: 400 11px system-ui;
    padding: 1px;
    border-width: 2px;
    border-style: inset;
    border-color: initial;
    border-image: initial;
}


::selection {
    background:transparent;
}
